.Dashboradcontainer {
  display: flex;
  justify-content: center;
  background-color: transparent;
  padding: 10px;
  box-sizing: border-box;
}

.Dashboradcontainer1 {
  display: flex;
  justify-content: space-between;
  gap: 120px;
  width: 100%;
}

.EvaKitchenlogo {
  display: block;
  width: 178px;
  height: 34px;
  margin-left:1rem;
  margin-top: 10px;
}

.Dashboradcontainer ul {
  display: flex;
  gap: 35px;
  list-style-type: none;
  align-items: center;
  margin-right: 4rem;
  margin-top: 20px;
  width: 100%;
}

.DashboradNavbar1 li {
  display: flex;
}

.linkItem {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 20px;
}

.linkItem:hover {
  border-bottom: 2px #ff7913 solid;
}

.navlink {
  color: #000000;
  text-decoration: none;
}

.hamburger {
  display: none;
}

.navAccount {
  display: flex;
  margin-bottom: 16px;
}

.navAccount p {
  font-family: "Inter";
  font-size: 18px;
  font-weight: 500;
  line-height: 21.78px;
  text-align: left;
}

.navAccount img {
  width: 14px;
  height: 8px;
  margin-left: 8px;
  margin-top: 8px;
}

.DashboradsearchContainer {
  display: flex;
  align-items: center;
  width: 8rem;
  border-radius: 20px;
  background: #ffffff;
  height: 18px;
  margin-bottom: 16px;
}

.DashboradsearchInput {
  width: 7rem;
  height: 18px;
  border-radius: 20px;
  background: transparent;
  border: none;
  padding: 0;
  padding-left: 10px;
}

.DashboradsearchIcon {
  cursor: pointer;
  width: 12px;
  height: 12px;
}

.searBarDetails {
  display: flex;
  gap: 18rem;
}

.ellipseSection {
  display: flex;
  gap: 40px;
  margin-left: 60px; 
  margin-bottom: 16px;
}

.ellipse {
  width: 28px;
  height: 28px;
}

@media (max-width: 480px) {
  .EvaKitchenlogo {
    margin-left: 16px;
  }

  .hamburger {
    display: block;
    position: absolute;
    right: 16px;
    margin-top: 20px;
  }

  .menu {
    display: none;
  }

  .menu.open {
    display: flex;
    background-color: #ffffff;
    margin-top: 50px;
  }

  .linkItem {
    padding: 2px 0;
    text-align: center;
  }

  ul {
    flex-direction: column;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .EvaKitchenlogo {
    margin-left: 16px;
  }

  .hamburger {
    display: block;
    position: absolute;
    right: 16px;
    margin-top: 20px;
  }

  .menu {
    display: none;
  }

  .menu.open {
    display: flex;
    background-color: #ffffff;
    margin-top: 50px;
  }

  .linkItem {
    padding: 2px 0;
    text-align: center;
  }

  ul {
    flex-direction: column;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
}
