.container {
  display: flex;
  justify-content: space-between;
  background-color: transparent;
  border: 1px solid #E2E8F0;
  padding: 16px;
}

.container1{
  display: flex;
  justify-content: space-between;
  gap: 120px;
}

.EvaKitchenlogo {
  display: block;
  width: 150px;
  height: 40px;
  margin-left: 4rem;
  margin-top: 10px;
}

.container ul {
  display: flex;
  gap: 60px;
  list-style-type: none;
  align-items: center;
  margin-right: 4rem;
  margin-top: 20px;
}

.linkItem {
  display: flex;
  align-items: center;
  gap: 5px;
}

.linkItem:hover {
  border-bottom: 2px #ff7913 solid;
}

.navlink {
  color: #000000;
  text-decoration: none;
}

.hamburger {
  display: none;
}

.navAccountInfo{
  display: flex;
  gap: 70px;
  margin-right: 70px;
}

#navAccount{
  display: flex;
}

#navAccount p{
  font-family: "Inter";
font-size: 18px;
font-weight: 500;
line-height: 21.78px;
text-align: left;
}

#navAccount img{
  width: 14px;
height: 18px;
margin-right: 8px;
}

.navAccount{
  display: flex;
}

.navAccount p{
  font-family: "Inter";
  font-size: 18px;
  font-weight: 500;
  line-height: 21.78px;
  text-align: left;
}

.navAccount img{
  width: 14px;
height: 8px;
margin-left: 8px;
margin-top: 8px;
}

@media (max-width: 480px) {
  .EvaKitchenlogo {
    margin-left: 16px;
  }

  .hamburger {
    display: block;
    position: absolute;
    right: 16px;
    margin-top: 20px;
  }

  .menu {
    display: none;
  }

  .menu.open {
    display: flex;
    background-color: #ffffff;
    margin-top: 50px;
  }

  .linkItem {
    padding: 2px 0;
    text-align: center;
  }

  ul {
    flex-direction: column;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .EvaKitchenlogo {
    margin-left: 16px;
  }

  .hamburger {
    display: block;
    position: absolute;
    right: 16px;
    margin-top: 20px;
  }

  .menu {
    display: none;
  }

  .menu.open {
    display: flex;
    background-color: #ffffff;
    margin-top: 50px;
  }

  .linkItem {
    padding: 2px 0;
    text-align: center;
  }

  ul {
    flex-direction: column;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
}
