@import url("https://fonts.googleapi.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

* {
  font-family: "Montserrat", "poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.landingcontainer {
  justify-content: center;
  align-items: center;
  margin: auto 0px;
}

.maskgroup {
  display: block;
  width: 350px;
  height: 350px;
}

.hero {
  justify-content: center;
  align-items: center;
  margin: auto 0px;

  background-image: url(../../assets/images/backgroundimage.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100%;
  height: 120vh;
}

.innerhero {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
}

.inner1 {
  width: 406px;
  font-family: Poppins;
  font-size: 56px;
  font-weight: 700;
  /* line-height: 24px; */
  color: #000000;
}

.inner2 {
  width: 375px;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  color: #484848;
}

.herocard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-self: center;
  margin-top: 6rem;
}

.groups {
  width: 50px;
  height: 50px;
}

.card {
  justify-content: center;
  align-content: center;
  text-align: center;
  width: 300.45px;
  height: 138.84px;
  border-radius: 0.88px 79.42px 0.88px 79.42px;
  box-shadow: 8.82px 8.82px 88.25px 3.53px #00000040;
  background: #f6edef;
  font-size: 18px;
  font-weight: 600;
  color: #484848;
  margin: 0 20px;
}

.about {
  justify-content: center;
  align-items: center;
  margin: auto 0;
}

.aboutus {
  text-align: center;
  margin-top: 70px;
}

.aboutus h3 {
  font-family: Poppins;
  font-size: 38px;
  font-weight: 700;
  line-height: 40px;
  color: #000000;
}

.aboutus p {
  margin-bottom: 10px;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 500;
  line-height: 40px;
  letter-spacing: 0.35em;
  color: #ff7913;
}

.food {
  display: block;
  width: 350px;
  height: 350px;
}

.aboutKit {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 50px;
  height: 70vh;
  margin-top: 20px;
  color: #717171;
}

.healthy {
  width: 402px;
  height: 354px;
  border-radius: 25px 0px 0px 0px;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  text-align: justified;
  margin-top: 20px;
}

.healthy1 {
  margin-bottom: 20px;
}

.learnmoreBTN {
  background: #ff7913;
  color: #ffffff;
  width: 167px;
  height: 40px;
  border-radius: 40px;
  border: none;
  cursor: pointer;
}

.BTN {
  margin-top: 20px;
}

.section {
  background-image: url(../../assets/images/kitchenimg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100%;
  height: 44vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}

.section h1 {
  width: 890px;
  font-family: "Poppins";
  font-size: 56px;
  font-weight: 700;
  line-height: 84px;
  text-align: left;
}

.choosemenu {
  text-align: center;
}

.choosemenu h2 {
  font-family: Poppins;
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  color: #000000;
  padding-top: 10px;
}

.choosemenu p {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 500;
  line-height: 40px;
  letter-spacing: 0.35em;
  color: #ff7913;
  padding-top: 30px;
}

.menuCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; 
  gap: 70px; 
  margin: 50px; 
  margin-left: 100px;
}

/* .menuCards > * {
  flex: 1 1 255px; 
  max-width: 1fr;
  box-sizing: border-box; 
}  */

@media (max-width: 480px) {
  .maskgroup {
    display: none;
  }

  .herosection {
    background-size: cover;
    background-position: center;
    height: 100vh;
  }

  .innerhero {
    margin-left: 24px;
  }

  .inner1 {
    width: 350px;
  }

  .inner2 {
    width: 350px;
    margin-top: 4px;
  }

  .herocard {
    row-gap: 50px;
  }

  .aboutus h3 {
    font-family: Poppins;
    font-size: 22px;
    font-weight: 700;
    line-height: 40px;
  }

  .aboutus{
    margin-top: 300px;
  }

  .aboutKit {
    flex-direction: column;
    height: 900px;
    margin-bottom: 70px;
    margin-top: 0px;
  }

  .healthy {
    width: 350px;
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: justified;
  }

  .section {
    flex-direction: column;
  }

  .section h1 {
    font-size: 22.33px;
    font-weight: 700;
    line-height: 29px;
    width: 287.2px;
    height: 41.96px;
    margin-bottom: 90px;
  }
  
.menuCards {
  margin-right: 62px;
}

}

@media (min-width: 481px) and (max-width: 767px) {
  .maskgroup {
    display: none;
  }

  .hero {
    background-size: cover;
    background-position: center;
    height: 100%;
  }

  .innerhero {
    justify-content: center;
    margin-left: 34px;
  }

  .herocard {
    margin-top: 30px;
    margin-bottom: 20px;
    row-gap: 30px;
  }

  .aboutKit {
    flex-direction: column;
    height: 700px;
    margin-bottom: 20px;
  }

  .section {
    flex-direction: row;
    padding: 20px;
  }

  .section h1 {
    font-size: 32.33px;
    font-weight: 700;
    line-height: 49px;
    width: 487.2px;
    height: 41.96px;
    margin-bottom: 120px;
  }

  .menuCards > * {
    flex: 1 1 calc(50% - 20px); 
    justify-content: center;
    margin-right: 90px;
  }
  
}

@media (min-width: 768px) and (max-width: 1024px) {
  .hero {
    background-size: cover;
    background-position: center;
    height: 80vh;
  }

  .herocard {
    row-gap: 50px;
  }

  .aboutKit{
    margin: 0 20px;
  }

  .healthy{
    font-size: 10px;
  }

  .section{
    flex-direction: column;
  }

  .section h1 {
    font-size: 52.33px;
    font-weight: 700;
    line-height: 49px;
    width: 487.2px;
    height: 41.96px;
    margin-bottom: 120px;
  }


  .menuCards{
    justify-content: center;
    margin-right: 10px;
    position: relative;
    right: 50px;
  }
}
