.AccounPageInfo1 {
      width: 433px;
      border-radius: 10px;
      background: #fffaf6;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .cartImage {
      width: 330px;
      height: 160px;
      margin-top: 10px;
      object-fit: cover;
    }
    
    .AccounPageInfo1 h4 {
      font-size: 20px;
      font-weight: 500;
      line-height: 24.2px;
      color: #000000;
      padding-top: 40px;
    }
    
    .cartList li {
      list-style-type: none;
    }
    
    .cartDetails {
      display: flex;
      justify-content: space-between;
    }
    
    .cartTitle {
      font-size: 16px;
      font-weight: 500;
      line-height: 19.36px;
      text-align: left;
      color: #000000;
    }
    
    .cartPrice {
      font-size: 20px;
      font-weight: 700;
      line-height: 24.2px;
      text-align: left;
      color: #000000;
      margin-top: 6px;
    }
    
    .cartQuantity {
      font-size: 20px;
      font-weight: 500;
      line-height: 24.2px;
      color: #000000;
    }
    
    .cartItemDetails2 {
      margin-top: 20px;
    }
    
    .subtotalDetails {
      margin-top: 30px;
    }
    
    .cartSubtotal {
      display: flex;
      justify-content: space-between;
      margin-top: 12px;
    }
    
    .cartSubtotalp {
      font-size: 18px;
      font-weight: 500;
      line-height: 21.78px;
      color: #4a5568;
    }
    
    .currencyValue {
      font-size: 20px;
      font-weight: 500;
      line-height: 24.2px;
      color: #2d3748;
    }
    
    .total {
      font-size: 20px;
      font-weight: 700;
      line-height: 24.2px;
      text-align: left;
      color: #2d3748;
    }
    